@{
    ViewData["Title"] = "Index";
}

<h1>Previsão Clima</h1>

<div class="box">

    <table class="table mb-0"> 
        <tr>
                <td>
                    @Html.DisplayNameFor(model => model.)
                </td>
                <td>
                    @Html.DisplayFor(model => model.)
                </td>
            </tr>
    </table>

</div>